*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(to right, #cadce6, #bcd3c6);
  
}
.calculator-grid{
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}
.span-two{
  grid-column: span 2;
}
.output{
  grid-column: 1 / -1;
  background-color: rgb(29, 25, 25);
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
color: rgba(251, 251, 251, 0.916);
font-size: 1.5rem;
}
.output .current-operand{
color: white;
font-size: 2.5rem;
}
.calculator-grid>button{
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid white;
  background-color: rgb(151, 149, 152);
}
.calculator-grid>button:hover,
.calculator-grid>button:focus{
    background-color: rgb(133, 132, 134);
}